/* line 57, icon */
.icon-sprite, .icon-add-btn, .icon-clear-search-btn, .icon-delete-btn, .icon-delete {
    background-image: url(../images/sprites.png),
      rgb(252,252,252);
    background-image: url(../images/sprites.png),
      -moz-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%, rgba(242,242,242,1) 66%, rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,252,252,1)), color-stop(66%,rgba(242,242,242,1)), color-stop(100%,rgba(232,232,232,1)));
    background-image: url(../images/sprites.png),
      -webkit-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      -o-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      -ms-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      radial-gradient(ellipse at center,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
}
    .icon-sprite:hover {
      background-image: url(../images/sprites.png),
      rgb(232,232,232); /* Old browsers */
        background-image: url(../images/sprites.png),
      -moz-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%, rgba(242,242,242,1) 66%, rgba(252,252,252,1) 100%); /* FF3.6+ */
        background-image: url(../images/sprites.png),
      -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(232,232,232,1)), color-stop(66%,rgba(242,242,242,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
        background-image: url(../images/sprites.png),
      -webkit-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
        background-image: url(../images/sprites.png),
      -o-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); /* Opera 12+ */
        background-image: url(../images/sprites.png),
      -ms-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); /* IE10+ */
        background-image: url(../images/sprites.png),
      radial-gradient(ellipse at center,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); /* W3C */
   }

/* line 60, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-add-btn {
  background-position: 0 0;
}
/* line 43, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-add-btn:hover, .icon-add-btn.add-btn_hover, .icon-add-btn.add-btn-hover {
  background-position: 0 -22px;
}

/* line 60, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-clear-search-btn {
  background-position: 0 -44px;
}
/* line 43, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-clear-search-btn:hover, .icon-clear-search-btn.clear-search-btn_hover, .icon-clear-search-btn.clear-search-btn-hover {
  background-position: 0 -66px;
}

/* line 60, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-delete-btn {
  background-position: 0 -88px;
}
/* line 43, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-delete-btn:hover, .icon-delete-btn.delete-btn_hover, .icon-delete-btn.delete-btn-hover {
  background-position: 0 -110px;
}

/* line 60, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-delete {
  background-position: 0 -132px;
}
/* line 43, ../../../lib/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-delete:hover, .icon-delete.delete_hover, .icon-delete.delete-hover {
  background-position: 0 -147px;
}
