/* line 5, ../scss/style.scss */
html {
  background: #eeeeee;
}

/* line 9, ../scss/style.scss */
body {
  background: #eeeeee;
}

/* line 13, ../scss/style.scss */
body, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.8em;
  color: #666666;
}

/* line 20, ../scss/style.scss */
h1 {
  font-size: 1.7em;
}

/* line 24, ../scss/style.scss */
input {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}

/* line 29, ../scss/style.scss */
:focus {
  outline: none;
}

/* line 33, ../scss/style.scss */
.hidden {
  display: none !important;
}

/* line 37, ../scss/style.scss */
.button {
  width: 30px;
  height: 22px;
  border: 1px solid #cccccc;
  margin-right: 1em;
  display: inline-block;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}

/* line 47, ../scss/style.scss */
.active {
  border: 1px solid #ff3d00;
}

/* line 51, ../scss/style.scss */
#docsapp {
  width: 90%;
  background: #ffffff;
  margin: 0 auto 4%;
  padding: 1.5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

/* line 59, ../scss/style.scss */
.toolbar {
  position: relative;
  margin-top: 2em;
}
/* line 63, ../scss/style.scss */
.toolbar .error {
  float: right;
  color: #ff3d00;
}
/* line 66, ../scss/style.scss */
.toolbar .error p {
  padding: 0 1em;
  border: 1px solid #ff3d00;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 74, ../scss/style.scss */
#search {
  border: none;
  display: inline-block;
}
/* line 78, ../scss/style.scss */
#search input {
  border: 1px solid #cccccc;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0.2em;
  height: 20px;
  float: left;
  margin: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
/* line 88, ../scss/style.scss */
#search .clear-search {
  border: 1px solid #cccccc;
  width: 20px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

/* line 96, ../scss/style.scss */
#create-doc {
  display: inline-block;
}
/* line 99, ../scss/style.scss */
#create-doc .create-data {
  position: absolute;
  top: 35px;
  padding: 0.5em 1em;
  background-color: #ffffff;
  z-index: 10;
  border: 1px solid #cccccc;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
/* line 109, ../scss/style.scss */
#create-doc .create-data input.code {
  width: 13%;
}
/* line 113, ../scss/style.scss */
#create-doc .create-data input.title {
  width: 80%;
  margin-left: 0.5em;
}
/* line 119, ../scss/style.scss */
#create-doc .create-data .hide-create-inputs {
  text-decoration: none;
  margin-left: 0.5em;
}

/* line 126, ../scss/style.scss */
#delete-docs {
  display: inline-block;
}

/* line 130, ../scss/style.scss */
#docs-table {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  border-collapse: collapse;
  clear: left;
}
/* line 137, ../scss/style.scss */
#docs-table th.checkbox, #docs-table td.checkbox {
  width: 5%;
  min-width: 30px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
/* line 145, ../scss/style.scss */
#docs-table .code {
  width: 7%;
  text-align: center;
  vertical-align: middle;
}
/* line 151, ../scss/style.scss */
#docs-table .title {
  width: 88%;
  text-align: left;
  vertical-align: middle;
}
/* line 157, ../scss/style.scss */
#docs-table tr, #docs-table th {
  border: 1px solid #cccccc;
}
/* line 161, ../scss/style.scss */
#docs-table th {
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(72%, #e8e8e8), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
}
/* line 172, ../scss/style.scss */
#docs-table th.title {
  text-align: left;
}
/* line 176, ../scss/style.scss */
#docs-table th.code.sorted, #docs-table th.title.sorted {
  cursor: pointer;
}
/* line 179, ../scss/style.scss */
#docs-table th .sort-arrow {
  margin-left: 0.2em;
}
/* line 184, ../scss/style.scss */
#docs-table td {
  border-top: none;
  vertical-align: middle;
}
/* line 188, ../scss/style.scss */
#docs-table td input[type="text"] {
  width: 100%;
  height: 1em;
}
/* line 193, ../scss/style.scss */
#docs-table td .highlight {
  background: yellow;
}
/* line 197, ../scss/style.scss */
#docs-table td .to-delete {
  color: #ff3d00;
}
/* line 202, ../scss/style.scss */
#docs-table td.title .doc-delete {
  float: right;
  margin-top: 0.3em;
  vertical-align: middle;
  display: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
/* line 212, ../scss/style.scss */
#docs-table td.title:hover .doc-delete {
  display: inline-block;
}
/* line 218, ../scss/style.scss */
#docs-table td, #docs-table th {
  padding: 2px 10px 2px 5px;
}
