
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.icon-sprite, .icon-add-btn, .icon-clear-search-btn, .icon-delete-btn, .icon-delete {
    background-image: url(../images/sprites.png),
      rgb(252,252,252);
    background-image: url(../images/sprites.png),
      -moz-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%, rgba(242,242,242,1) 66%, rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,252,252,1)), color-stop(66%,rgba(242,242,242,1)), color-stop(100%,rgba(232,232,232,1)));
    background-image: url(../images/sprites.png),
      -webkit-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      -o-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      -ms-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
    background-image: url(../images/sprites.png),
      radial-gradient(ellipse at center,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 66%,rgba(232,232,232,1) 100%);
}
    .icon-sprite:hover {
      background-image: url(../images/sprites.png),
      rgb(232,232,232); 
        background-image: url(../images/sprites.png),
      -moz-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%, rgba(242,242,242,1) 66%, rgba(252,252,252,1) 100%); 
        background-image: url(../images/sprites.png),
      -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(232,232,232,1)), color-stop(66%,rgba(242,242,242,1)), color-stop(100%,rgba(252,252,252,1))); 
        background-image: url(../images/sprites.png),
      -webkit-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); 
        background-image: url(../images/sprites.png),
      -o-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); 
        background-image: url(../images/sprites.png),
      -ms-radial-gradient(center, ellipse cover,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); 
        background-image: url(../images/sprites.png),
      radial-gradient(ellipse at center,  rgba(232,232,232,1) 0%,rgba(242,242,242,1) 66%,rgba(252,252,252,1) 100%); 
   }
.icon-add-btn {
  background-position: 0 0;
}
.icon-add-btn:hover, .icon-add-btn.add-btn_hover, .icon-add-btn.add-btn-hover {
  background-position: 0 -22px;
}
.icon-clear-search-btn {
  background-position: 0 -44px;
}
.icon-clear-search-btn:hover, .icon-clear-search-btn.clear-search-btn_hover, .icon-clear-search-btn.clear-search-btn-hover {
  background-position: 0 -66px;
}
.icon-delete-btn {
  background-position: 0 -88px;
}
.icon-delete-btn:hover, .icon-delete-btn.delete-btn_hover, .icon-delete-btn.delete-btn-hover {
  background-position: 0 -110px;
}
.icon-delete {
  background-position: 0 -132px;
}
.icon-delete:hover, .icon-delete.delete_hover, .icon-delete.delete-hover {
  background-position: 0 -147px;
}
html {
  background: #eeeeee;
}
body {
  background: #eeeeee;
}
body, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.8em;
  color: #666666;
}
h1 {
  font-size: 1.7em;
}
input {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
:focus {
  outline: none;
}
.hidden {
  display: none !important;
}
.button {
  width: 30px;
  height: 22px;
  border: 1px solid #cccccc;
  margin-right: 1em;
  display: inline-block;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.active {
  border: 1px solid #ff3d00;
}
#docsapp {
  width: 90%;
  background: #ffffff;
  margin: 0 auto 4%;
  padding: 1.5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
.toolbar {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  position: relative;
  margin-top: 2em;
}
.toolbar .error {
  float: right;
  color: #ff3d00;
}
.toolbar .error p {
  padding: 0 1em;
  border: 1px solid #ff3d00;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
#search {
  border: none;
  display: inline-block;
}
#search input {
  border: 1px solid #cccccc;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0.2em;
  height: 20px;
  float: left;
  margin: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
#search .clear-search {
  border: 1px solid #cccccc;
  width: 20px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
#create-doc {
  display: inline-block;
}
#create-doc .create-data {
  position: absolute;
  top: 35px;
  padding: 0.5em 1em;
  background-color: #ffffff;
  z-index: 10;
  border: 1px solid #cccccc;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
#create-doc .create-data input.code {
  width: 13%;
}
#create-doc .create-data input.title {
  width: 80%;
  margin-left: 0.5em;
}
#create-doc .create-data .hide-create-inputs {
  text-decoration: none;
  margin-left: 0.5em;
}
#delete-docs {
  display: inline-block;
}
.content {
  margin: 1em 0;
  border: 1px solid #cccccc;
  background-color: #fafafa;
}
#docs-table-wrapper {
  height: 180px;
  overflow: auto;
}
#docs-table, #docs-theader {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  clear: left;
}
#docs-table th.checkbox, #docs-table td.checkbox, #docs-theader th.checkbox, #docs-theader td.checkbox {
  width: 5%;
  min-width: 30px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
#docs-table .code, #docs-theader .code {
  width: 7%;
  text-align: center;
  vertical-align: middle;
}
#docs-table .title, #docs-theader .title {
  width: 88%;
  text-align: left;
  vertical-align: middle;
}
#docs-table tr, #docs-table th, #docs-theader tr, #docs-theader th {
  border-bottom: 1px solid #cccccc;
}
#docs-table th, #docs-theader th {
  background: #f9f9f9;
  
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(72%, #e8e8e8), color-stop(100%, #e5e5e5));
  
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  
  background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  
  background: linear-gradient(to bottom, #f9f9f9 0%, #e8e8e8 72%, #e5e5e5 100%);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 );
  
}
#docs-table th.title, #docs-theader th.title {
  text-align: left;
}
#docs-table th.code, #docs-theader th.code {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#docs-table th.code.sorted, #docs-table th.title.sorted, #docs-theader th.code.sorted, #docs-theader th.title.sorted {
  cursor: pointer;
}
#docs-table th .sort-arrow, #docs-theader th .sort-arrow {
  margin-left: 0.2em;
}
#docs-table td, #docs-theader td {
  border-top: none;
  vertical-align: middle;
  background-color: #ffffff;
}
#docs-table td input[type="text"], #docs-theader td input[type="text"] {
  width: 100%;
  height: 1em;
}
#docs-table td .highlight, #docs-theader td .highlight {
  background: yellow;
}
#docs-table td .to-delete, #docs-theader td .to-delete {
  color: #ff3d00;
}
#docs-table td.title .doc-delete, #docs-theader td.title .doc-delete {
  float: right;
  margin-top: 0.3em;
  vertical-align: middle;
  display: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
#docs-table td.title:hover .doc-delete, #docs-theader td.title:hover .doc-delete {
  display: inline-block;
}
#docs-table td, #docs-table th, #docs-theader td, #docs-theader th {
  padding: 2px 10px 2px 5px;
}
.demo {
  width: 100%;
  margin-top: 5em;
}
.demo .demo-options {
  width: 100%;
  border: 1px solid #cccccc;
  text-align: center;
}
.demo .demo-options li {
  padding: 0.5em 2em;
  display: inline-block;
}
